<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="snow"></div>

<header class="hat">
    <h1 class="mainFont">FAQ Page</h1>
    <span th:insert="~{fragments :: auth}"></span>
</header>

<main class="faq-container">
    <div class="faq-block">
        <h2 class="faq-title">Quick Access</h2>
        <div class="faq-buttons">
                <span th:if="${session.user}">
                    <form method="get" action="/newrepo">
                        <button type="submit">New Repo</button>
                    </form>
                    <form method="get" action="/getrepo">
                        <button type="submit">All Repos</button>
                    </form>
                </span>
        </div>
        <div class="faq-content">
            <h3>About our developers</h3>
            <p>This project is supported by two independent developers.</p>
            <div class="devs-column">
                <div class="dev-profile">
                    <img src="/faqImages/dev1.png" alt="Developer 1">
                    <div class="dev-info">
                        <h4><a href="https://developer1-link.com" target="_blank">Yakehara</a></h4>
                        <form action="like" name="yakehara">
                            <button type="submit">like</button>
                        </form>
                        <p>C++, C and Rust specialist, core developer</p>
                    </div>
                </div>
                <div class="dev-profile">
                    <img src="/faqImages/dev2.png" alt="Developer 2">
                    <div class="dev-info">
                        <h4><a href="https://developer2-link.com" target="_blank">Michael</a></h4>
                        <form action="like" name="michael">
                            <button type="submit">like</button>
                        </form>
                        <p>Java-Backend , API architect, web developer</p>
                    </div>
                </div>
            </div>
            <p>Information will be updated as the project evolves.</p>
        </div>

