<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/css/main.css">

    <div class="info" th:fragment="infoDefault">
        <h4 class="supportFont">
            This site is based on VR core LIN
        </h4>
    </div>

    <div class="auth" th:fragment="auth">
        <form method="get" action="/login">
            <button type="submit" class="authButton">login</button>
        </form>
        <form method="get" action="/registration">
            <button type="submit" class="authButton">registration</button>
        </form>
    </div>

</html>