<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="auth" th:fragment="auth">
    <form method="get" action="/home">
        <button type="submit">home</button>
    </form>
    <form method="get" action="/login">
        <button type="submit" class="authButton">login</button>
    </form>
    <form method="get" action="/reg">
        <button type="submit" class="authButton">registration</button>
    </form>
    <form method="get" action="/FAQ">
        <button type="submit" class="authButton">FAQ</button>
    </form>
</div>
</html>
