<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/css/main.css">
    <div class="info" th:fragment="infoDefault">
        <h4 class="supportFont">

        </h4>
    </div>

    <div class="auth" th:fragment="auth">
        <form method="get" action="/login">
            <button type="submit" class="authButton">login</button>
        </form>
        <form method="get" action="/reg">
            <button type="submit" class="authButton">registration</button>
        </form>
    </div>

    <div id="homeButton" th:fragment="homeButton">
        <form method="get" action="/home">
            <button type="submit">home</button>
        </form>
    </div>
</html>