<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js"></script>
    <title>Home</title>
</head>
<body>

<span th:insert="~{fragments :: homeButton}">
    </span>

    <span th:insert="~{fragments :: auth}">
    </span>

    <div class="hat">
        <h1 class="mainFont"> Home page </h1>
    </div>

    <span th:insert="~{fragments :: infoDefault}">
    </span>


</body>
</html>