<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js"></script>
    <title>Registration</title>
</head>
<body>

<span th:insert="~{fragments :: auth}">
    </span>

<div class="logForm">
    <h2 class="mainPlaceHolder">registration</h2>
    <form method="post" action="/login">
        <input type="text" id="username" name="username" placeholder="Username"> <br>
        <input type="text" id="email" name="email" placeholder="Email"> <br>
        <input type="password" id="password" name="password" placeholder="Password"> <br>
        <button type="submit" class="okLogin">Sign on</button><br>
    </form>

</div>

</body>
</html>