.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  color:#bf7d3b;
}

body{
    background-color:#42403b;
    color:#bf7d3b;
    margin: 0;
    padding: 0;
}
.mainFont{
    color:#bf7d3b;
    text-align:center;
}
.hat h1 {
    margin: 0;
}
.hat {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #454341;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.mainPlaceHolder{
    color:#c97104;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
}
.auth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 40%;
    padding-right: 40%;
}

.logForm{
    font-family: 'Ubuntu', sans-serif;
    padding-top:10%;
    display:flex;
    flex-direction: column;
    text-align: center;
}


button {
  transition: transform 0.2s ease;
  color:white;
  background:#454442;
  border:none;
  font-family: 'Ubuntu', sans-serif;
}

button:hover {
  color:#fae19d;
  transform: scale(1.02);
}